.game {
  position: relative;
  height: 100%;
}

.game_fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.game-field {
  width: 100%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

.game-field__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.game-field {
  position: relative;
  --cardWidth: 140px;
  --cardHeight: 100px;
  --smallRows: 2;
  --smallColumns: 6;
  --mediumRows: 3;
  --mediumColumns: 6;
  --largeRows: 3;
  --largeColumns: 8;
  --marginTop: -210px;

  @media (max-width: 1023px) {
    --cardWidth: 80px;
    --cardHeight: 80px;
  }

  @media (max-width: 800px) {
    --cardWidth: 60px;
    --cardHeight: 60px;
    --smallRows: 6;
    --smallColumns: 2;
    --mediumRows: 6;
    --mediumColumns: 3;
    --largeRows: 6;
    --largeColumns: 4;
    --marginTop: -200px;
  }

  &_small {
    // margin-top: var(--marginTop);
    grid-template-rows: repeat(var(--smallRows), var(--cardWidth));
    grid-template-columns: repeat(var(--smallColumns), var(--cardHeight));
    grid-gap: 10px;
  }

  &_medium {
    // margin-top: var(--marginTop);
    grid-template-rows: repeat(var(--mediumRows), var(--cardWidth));
    grid-template-columns: repeat(var(--mediumColumns), var(--cardHeight));
    grid-gap: 10px;
  }

  &_large {
    // margin-top: var(--marginTop);
    grid-template-rows: repeat(var(--largeRows), var(--cardWidth));
    grid-template-columns: repeat(var(--largeColumns), var(--cardHeight));
    grid-gap: 10px;
  }
}

.statistics {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.statistics__inner {
  margin-right: 20px;
}

.statistics__inner:last-child {
  margin-right: 0;
}

.score-wrapper {
  margin-bottom: 10px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.score-wrapper__caption {
  padding: 0;
  margin: 0 5px 0 0;
  font-weight: 500;
}

.score-wrapper__score {
  padding: 0;
  margin: 0;
}

.time-wrapper {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.time-wrapper__caption {
  padding: 0;
  margin: 0 5px 0 0;
  font-weight: 500;
}

.time-wrapper__time {
  padding: 0;
  margin: 0;
}

.game__overlay {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}