.card-wrapper {
  cursor: pointer;
  perspective: 300px;
}

@keyframes hiding {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.6;
  }
  to {
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateX(-10px);
  }
  50% {
    transform: scale(1.1, 0.9) translateX(10px);
  }
  100% {
    transform: scale(0.9, 1.1) translateX(-10px);
  }
}

.card-wrapper_hide {
  animation: hiding 1s linear, bounce 300ms infinite 300ms normal;
  opacity: 0;
  cursor: default;
}

.card-wrapper_display_none {
  display: none;
}

.card {
  width: 100px;
  height: 139.68px;
  background: #80cbc4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-image: url('./assets/solar-system.svg');
  background-position: center;
  background-repeat: no-repeat;

  transition: all 1s;
  transform-style: preserve-3d;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card__image {
  width: 100px;
  height: auto;
}

.card__front {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media (max-width: 1023px) {
  .card {
    width: 80px;
    height: 80px;
  }

  .card__image {
    width: 80px;
    height: auto;
  }
}

@media (max-width: 800px) {
  .card {
    width: 60px;
    height: 60px;
  }

  .card__image {
    width: 60px;
    height: auto;
  }
}
