.startScreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url('./assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 785px) {
    min-height: 110vh;
  }
}