.games {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 343px;
  background: #ffffff;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.3);
  padding-left: 36px;
  padding-bottom: 100px;
}

.games__content {
    position: relative;
}

.level {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  margin: 28px auto;

  & span {
      width: 100px;
  }
}

.games__icon {
  margin-left: 20px;
}

.title {
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 22px;
}

.games__item {
  padding-left: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  & a {
    color: #2196f3;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
  }
}

.item__img {
  margin-right: 30px;
}

.settings {
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: -13px;
    right: 11px;
    outline: none;
}