.animation {
  animation: sampleanimation 1s forwards;
}

@keyframes sampleanimation {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 300px;
    top: 0px;
  }
  50% {
    left: 300px;
    top: 150px;
  }
  75% {
    left: 0px;
    top: 150px;
  }
}
